body {
	padding: none;
	margin: none;
	font-family: Calibri;
	background-image: url("../img/bg.jpg");
	background-repeat: repeat;
}

#wrapper {
	width: 1000px;
	margin: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 80px;
}
	
#header {
	width: 1000px;
	margin: auto;
}

#header .logo {
	background-color: #FFFFFF;
	margin: auto;
}

#header .logo a {
	margin: auto;
	display: block;
	padding-top: 50px;
	padding-bottom: 40px;
	text-align: center;
	font-family: 'LeagueGothicRegular';
	text-decoration: none;
	color: #D95964;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	font-size: 6.2rem;
}
	
#header .links {
	margin: auto;
	padding: 0px;
	float: right;
	display: inline-block;
	padding: 12px;
	font-size: 13px;
}

#header .links a {
	color: #000;
	text-decoration: none;
}

#search {
	margin: auto;
	width: 940px;
	background-color: #FFFFFF;
	background-image: url("../img/skyline.jpg");
	padding: 30px;
}

#search .box {
	background-color: #D85A65;
	display: inline-block;
	padding: 25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#search .box select {
	background-color: #FFF;
	border: 1px solid #3A3F40;
	padding: 5px;
}

#search .box input {
	background-color: #FFF;
	border: 1px solid #3A3F40;
	padding: 5px;
}

#search .box input:focus, 
#search .box select:focus {
	box-shadow: none;
	border: 1px solid #177DB7;
}

#search .box .date {
	margin-top: 15px;
}

#search .box .type {
	margin-top: 15px;
}

#search .box input.submit {
	float: right;
	margin-top: -30px;
	cursor: default;
}

#search .box input.submit:hover {
	background-color: #C6BABA;
	color: #FFF;
	cursor: pointer;
}

#content {
	margin: auto;
	width: 100%;
	background-color: #FFF;
	display: inline-block;
}

#content .list ul.top {
	background-color: #3A3F40;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 758px;
}
	
#content .list ul.top li {
	list-style: none;
	display: inline-block;
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 80px;
	font-size: 13px;
}

#content .list {
	width: 760px;
	overflow: hidden;
}
	
#content .list ul.top li.first {
	background-color: #FFF;
	padding-right: 30px;
	padding-left: 10px;
	color: #3A3F40;
}

#content .list td.thumb {
	padding-right: 31px;
	padding-left: 8px;
}
	
#content .list td.thumb img {
	height: 80px;
	width: 110px;
}

#content .list td.place {
	width: 144px;
	padding-top: 0px;
}

#content .list td.size {
	width: 135px;
}

#content .list td.time {
	width: 140px;
}

#content .list td.price {
	width: 170px;
}	

#content .list tr {
	border-bottom: 1px solid #dfdfdf;
	display: block;
	padding-top: 5px;
}

#content .list tr.A {
	background-color: #EDEDED;
}

#content .list tr.B {
	background-color: #FFFFFF;
}

.footer {
	padding-left: 10px;
	padding-right: 10px;
	background-color: #3A3F40;
	color: #FFF;
	position: absolute;
	width: 980px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -7px;
}

.footer .left {
	float: left;
	display: inline-block;
}

.footer .right {
	float: right;
	display: inline-block;
}

.footer a {
	text-decoration: none;
	color: #ED7159;
}

.footer a:hover {
	color: #FFF;
}

#content .sidebar {
	width: 200px;
	float: right;
	background-color: #EDEDED;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

#content .sidebar .login,
#content .sidebar .note,
#content .sidebar .facebook {
	border-top: 5px solid #D85A65;
	background-color: #FFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

#content .sidebar .note a {
	text-decoration: none;
	color: #000;
}

#content .sidebar .note a:focus {
	outline: none;
}

#content .sidebar .facebook iframe {
	max-width: 180px;
}

#content .sidebar .login input.username,
#content .sidebar .login input.password {
	border: 1px solid #000;
	padding: 5px;
	margin-bottom: 5px;
	width: 160px;
}

#content .sidebar .login input.submit {
	border: 1px solid #000;
	padding: 5px;
}

#content .sidebar .login input.submit:hover {
	cursor: pointer;
}

#search .box .type div {
	display: inline-block;
	background-color: #FFF;
	border: 1px solid #000;
	margin-bottom: 4px;
	padding-right: 4px;
	cursor: default;
}

.add {
	background-color: #D85A65;
	color: #FFF;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 1000px;
	text-align: center;
	cursor: default;
}

.add a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}	

.ads {
	background-color: #FFF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 5px solid #3A3F40;
	margin-top: -7px;
}
	
.ads img {
	margin: auto;
}

.right-banner {
	float: right;
	position: fixed;
	right: 300px;
} 

.content {
	padding: 15px;
	display: inline-block;
	width: 730px;
}

.content .assess {
	width: 450px;
	float: right;
	margin-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #C9C9C9;
}

.content a.send {
	display: block;
	background-color: #EDEDED;
	width: 450px;
	float: right;
	margin-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #EDEDED;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
}

.content a.send:hover {
	text-decoration: underline;
}

.content .send p {
	display: inline-block;
	width: 100%;
	margin: 0px;
	margin-bottom: 5px;
}

.content .send input {
	background-color: #F28790;
	border: 1px solid #3A3F40;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.content .send textarea {
	border: 1px solid #3A3F40;
	background-color: #F28790;
	float: right;
	padding: 10px;
	resize: none;
	width: 300px;
	height: 70px;
}

.content .send input:focus,
.content .send textarea:focus {

}

.content .send input[type="submit"] {
	color: #FFF;
}	

.content .send input[type="text"] {
	width: 150px;
}	

.content .send input[type="submit"]:hover {
	background-color: #858687;
	cursor: pointer;
}	

.content .userdata {
	width: 245px;
	float: left;
}	

.content .userdata img {
	width: 245px;
}

.content .userdata table {
	width: 245px; 
	margin-top: 10px; 
	border-top: 1px solid black; 
	padding-top: 10px;
}

.content .userdata iframe {
	width: 245px; 
	margin-top: 10px; 
	border-top: 1px solid black; 
	padding-top: 20px;
}

.content adress {
	display: block;
	background-color: #EDEDED;
	width: 450px;
	float: right;
	margin-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #EDEDED;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}	
	
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}